{{#> ProfileWrapper name="Иван"}}
    {{> AvatarProfile change="Поменять аватар" }}
    <h2 class="profile__name">{{name}}</h2>
    {{> InputProfile type="password" name="oldPassword" label="Старый пароль" placeholder="•••••••••" }}
    {{> InputProfile type="password" name="newPassword" label="Новый пароль" placeholder="••••••••••••" }}
    {{> InputProfile type="password" name="newPassword" label="Повторите новый пароль" placeholder="••••••••••••" last="true" }}
    
    {{#> ProfileButtonWrapper}}
        {{> Button label="Сохранить" class="primary" type="submit" }}
    {{/ ProfileButtonWrapper}}
{{/ ProfileWrapper}}
