.cols-layout__aside
    &-profile
        text-align right
        font-size 1.2rem
        line-height 100%
        &-link
            display inline-flex
            align-items center
            color var(--text-secondary-color)
            .material-symbols-outlined
                font-size 1.6rem
