.box-form
    &__button
        display block
        width 100%
        max-width 280px
        background-color var(--form-ele-color)
        border none
        font 500 1.3rem/1.3rem var(--inter-font)
        color var(--btn-color)
        margin 0 auto
        padding 12px
        border-radius 8px
        cursor pointer
        + .box-form__button
            margin-top 14px
    &__button-link
        display inline-block
        width auto
        background-color transparent
        font-size 1.1rem
        line-height 1.1rem
        color var(--link-color)
        padding 0
    &__button-fieldset
        padding 47px 0 0
        text-align center
