.choose-file
    &__wrap
        text-align center
        max-width 150px
        margin 0 auto
        line-height 1.6rem
    &__link
        color var(--link-color)
        text-decoration underline
        display inline-block
        cursor pointer
    &__chosen
        display none
        color var(--choose-file-chosen-color)
