<div class="error-window__wrap">
    <div class="error-window__box">
        <h1 class="error-window__box-title">{{title}}</h1>
        <p class="error-window__box-copy">{{copy}}</p>
        <a class="error-window__box-link" href="{{href}}">{{link}}</a>
    </div>
</div>