{{#> ProfileWrapper name="Иван"}}
    {{> AvatarProfile change="Поменять аватар" }}
    <h2 class="profile__name">{{name}}</h2>
    {{> InputProfile type="text" name="email" label="Почта" placeholder="pochta@yandex.ru" }}
    {{> InputProfile type="text" name="login" label="Логин" placeholder="ivanivanov" }}
    {{> InputProfile type="text" name="first_name" label="Имя" placeholder="Иван" }}
    {{> InputProfile type="text" name="second_name" label="Фамилия" placeholder="Иванов" }}
    {{> InputProfile type="text" name="display_name" label="Имя в чате" placeholder="Иван" }}
    {{> InputProfile type="tel" name="phone" label="Телефон" placeholder="+7 (909) 967 30 30" last="true" }}
    
    {{#> ProfileButtonWrapper}}
        {{> InputProfile label="Изменить данные" link="true" }}
        {{> InputProfile label="Изменить пароль" link="true" }}
        {{> InputProfile label="Выйти" link="true" logout="true" last="true" }}
    {{/ ProfileButtonWrapper}}
{{/ ProfileWrapper}}

{{#if showModal}}
    {{#> ModalFullWidth title="Загрузите файл" }}
        {{> ChooseFile file="Выбрать файл на компьютере" }}
        {{> Button label="Поменять" class="primary" type="submit" }}
    {{/ ModalFullWidth}}
{{/if}}