.chat__header
    &-delete
        position relative
        width 25px
        height 25px
        display flex
        align-items center
        justify-content center
        flex-shrink 0
        cursor pointer
        margin-left 14px
        .material-symbols-outlined
            font-size 3rem
            color var(--error-color)
                