.profile
    &__back
        display flex
        align-items center
        justify-content center
        width 65px
        height 100%
        background var(--left-col-bg)
        border-right 1px solid var(--layout-border)
        position absolute
        top 0
        left 0
        &-btn
            width 28px
            height 28px
            border-radius 50%
            background var(--form-ele-color)
            display flex
            align-items center
            justify-content center
            color var(--btn-color)
            cursor pointer
            .material-symbols-outlined
                font-size 1.8rem