<div class="box-form__wrap">
    <div class="box-form">
        <h2 class="box-form__head">Список страниц</h2>
        <ul>
            <li><a href="#" page="auth">Авторизация</a><br /><br /></li>
            <li><a href="#" page="registration">Регистрация</a><br /><br /></li>
            <li><a href="#" page="chat-empty">Список чатов</a><br /><br /></li>
            <li><a href="#" page="chat-chosen">Выбранный Чат</a><br /><br /></li>
            <li><a href="#" page="profile">Профиль</a><br /><br /></li>
            <li><a href="#" page="profile-change-data">Профиль - изменить данные</a><br /><br /></li>
            <li><a href="#" page="profile-change-password">Профиль - изменить пароль</a><br /><br /></li>
            <li><a href="#" page="profile-change-avatar">Профиль - изменить аватар</a><br /><br /></li>
            <li><a href="#" page="error-404">404</a><br /><br /></li>
            <li><a href="#" page="error-500">500</a><br /><br /></li>
        </ul>
    </div>
</div>
