<form class="search">
    <div class="search__input-wrap">
        <input class="search__input" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" />
        <span class="search__icon">
            <span class="material-symbols-outlined">search</span>
        </span>
    </div>
</form>
