<li class="modal-functional__item">
    <a class="modal-functional__item-link" href={{href}}>
        <span class="material-symbols-outlined">{{icon}}</span>
        <span class="modal-functional__item-copy">{{copy}}</span>
    </a>
</li>
