.modal-functional__item
    font-size 1.2rem
    line-height 1.4rem
    &-link
        display flex
        align-items center
        gap 0 15px
        padding 8px
        color var(--text-color)
        .material-symbols-outlined
            font-size 2.2rem
            color var(--link-color)
            transform none
    &-copy
        white-space nowrap