<div class="chat__header-dots">
    <span class="chat__header-dots-ele">...</span>
    {{#if showModal}}
        {{#> ModalFunctional}}
            {{> ModalFunctionalItem href="#" icon="add_circle" copy="Добавить пользователя" }}
            {{> ModalFunctionalItem href="#" icon="cancel" copy="Удалить пользователя" }}
        {{/ ModalFunctional}}
    {{/if}}
</div>
