<div class="chat__header-user">
    <span class="chat__header-user-avatar">
        {{#if avatar}}
            <img src={{avatar}} alt="" />
        {{/if}}
    </span>
    <h4 class="chat__header-user-name">{{name}}</h4>
</div>
