.chat__header
    &-user
        display flex
        align-items center
        gap 0 10px
        &-avatar
            width 34px
            height 34px
            border-radius 50%
            background var(--form-ele-bg)
            img
                display block
                width 100%
                height 100%
                border-radius 50%
                object-fit cover
        &-name
            font-size 1.3rem
            line-height 100%
            font-weight 600
