<main class="box-form__main">
    <div class="box-form__wrap">
        <div class="box-form">
            <h2 class="box-form__head">{{title}}</h2>
            <form class="box-form__{{form}}-form">
                {{> @partial-block }}
            </form>
        </div>
    </div>
</main>
