{{#> TwoColsLayout}}
    <div class="chat__wrapper">
        <header class="chat__header">
            <div class="chat__header-inner">
                {{> ChatHeaderUser name="Вадим" }}

                {{> ChatHeaderDots }}
            </div>
        </header>

        <section class="chat__body">
            {{#> ChatMessagesWrapper}}
                {{> ChatMessageDate date="19 июня" }}

                {{#each message}}
                    {{> ChatMessage}}
                {{/each}}
            {{/ ChatMessagesWrapper}}
        </section>

        <footer class="chat__footer">
            <div class="chat__footer-inner">
                {{> SendMessageForm type="text" name="message" placeholder="Сообщение" }}
            </div>
        </footer>
    </div>
{{/ TwoColsLayout}}

{{#if showModal}}
    {{#> ModalFullWidth title="Добавить пользователя"}}
        {{> Input type="text" name="login" label="Логин" }}
        {{> Button label="Добавить" class="primary" type="submit" }}
    {{/ ModalFullWidth}}
{{/if}}
