<div class="modal-full-width__wrap">
    <div class="modal-full-width__popup">
        <form class="modal-full-width__popup-form">
            <h2 class="modal-full-width__popup-title">{{title}}</h2>
            {{> @partial-block }}
        </form>
    </div>
</div>